ion-row{
    --ion-padding: 15px;
}

p{
    text-decoration: underline;
}

ion-input.credential{
    --placeholder-opacity: 0.9;
}

ion-button{
    --background: #3880ff;
    --color: white;
    --background-hover: black;
    --color-hover: red;
}

ion-toolbar{
    --background: rgb(255, 94, 0);
}

ion-content{
    --padding-bottom: 100px;
    --padding-top: 100px;
    --padding-end:30px;
    --padding-start:30px;
}